$FONT_HEADING: normal 700 40px/120% "Montserrat", sans-serif;
$FONT_TITLE: normal 700 18px/140% 'Noto Sans', sans-serif;
$FONT_PARAGRAPH: normal 400 18px/140% 'Noto Sans', sans-serif;
$FONT_SUB: normal 400 18px/140% 'Noto Sans', sans-serif;

$COLOR_MAIN: #29305B;
$COLOR_SIDE: #F7A636;
$COLOR_INVERT: #FFFFFF;